<%- include('./partials/head') %>
<body>
    <header><%- include('./partials/navigation') %></header>
    <h3>Users :</h3>
    <ul>
        <% for( let user of users ) { %>
        <li><%= user %></li>
        <% } %>
    </ul>
</body>
